{% extends 'base.html.twig' %}

{% block title %}chatterr{% endblock %}

{% block stylesheets %}
  {{ encore_entry_link_tags('accueil') }}
  {{ encore_entry_link_tags('global') }}
{% endblock %}

{% block body %}
<div id="overlay"></div>

<div class="body">


  <div class="titleContent">
      <svg xmlns="http://www.w3.org/2000/svg" width="56.898" height="71" viewBox="0 0 56.898 71"><path id="Icon_ionic-md-text" data-name="Icon ionic-md-text" d="M55.471,4.5H9.241C5.981,4.5,4.5,7.828,4.5,11.9V75.5l9.483-11.833H55.471c3.26,0,5.927-3.328,5.927-7.4V11.9C61.4,7.828,58.731,4.5,55.471,4.5ZM24.414,37.411h-5.69v-7.4h5.69Zm11.38,0H30.1v-7.4h5.69Zm11.38,0h-5.69v-7.4h5.69Z" transform="translate(-4.5 -4.5)" fill="#5348c7"/></svg>
      <h2 class="discussion"> Discussions </h2>
  </div>
  {% include './components/categories.html.twig' %}
  {% include './components/navbar.html.twig' %}
  

  <div class="titleContent">
      <svg xmlns="http://www.w3.org/2000/svg" width="56.898" height="71" viewBox="0 0 56.898 71"><path id="Icon_ionic-md-text" data-name="Icon ionic-md-text" d="M55.471,4.5H9.241C5.981,4.5,4.5,7.828,4.5,11.9V75.5l9.483-11.833H55.471c3.26,0,5.927-3.328,5.927-7.4V11.9C61.4,7.828,58.731,4.5,55.471,4.5ZM24.414,37.411h-5.69v-7.4h5.69Zm11.38,0H30.1v-7.4h5.69Zm11.38,0h-5.69v-7.4h5.69Z" transform="translate(-4.5 -4.5)" fill="#5348c7"/></svg>
      <h2 class="discussion"> Discussions </h2>
  </div>

  <div class="threads">
    {% for message in messages %}
      {% set vars = {
        'content' : message.content,
        'author' : message.user.username,
        'category' : message.category.name
      } %}
      {% include './components/thread.html.twig' with vars  %}
    {% endfor %}
  </div>
</div>
{% endblock %}