{% extends 'base.html.twig' %}

{% block title %}Hello ProfilController!
{% endblock %}

{% block stylesheets %}
	{{ encore_entry_link_tags('global') }}
	{{ encore_entry_link_tags('admin') }}
{% endblock %}

{% block body %}
	<div class="container">

		<a href="/admin/grade">
			<button class="buttonCustom" type="button">Grade</button>
		</a>
		<a href="/admin/user">
			<button class="buttonCustom" type="button">User</button>
		</a>
		<a href="/admin/category">
			<button class="buttonCustom" type="button">Category</button>
		</a>
		<a href="/admin/message">
			<button class="buttonCustom" type="button">Message</button>
		</a>
	</div>
{% endblock %}
