#connexionPopUp {
    width: 400px;
    height: 450px;
    text-align: center;
    transform: translate(-50%, -50%) scale(1);
    padding: 20px;
    border-radius: 20px;
    background: #ffffff;
    position: absolute;
    top: 55%;
    left: 50%;
    display: none;
}

#inscriptionPopUp {
    width: 400px;
    height: 450px;
    text-align: center;
    transform: translate(-50%, -50%) scale(1);
    padding: 20px;
    border-radius: 20px;
    background: #ffffff;
    position: absolute;
    top: 55%;
    left: 50%;
    display: none;
}

.signIn {
    font-weight: 600;
    padding-top: 20px;
    text-align: center;
    font-size: 32px;
    padding-bottom: 10px;
}

#signUpBtn {
    cursor: pointer;
}

.input-field .validate {
    border: none;
    margin-bottom: 15px;
    color: #707070;
    background: #F8F8F8;
    padding: 20px;
    font-size: 16px;
    border-radius: 10px;
    box-shadow: inset 5px 5px 5px #F8F8F8, inset -5px -5px 5px #F8F8F8;
    outline: none;
    padding-top: 20px;
}

.createAccount {
    color: #707070;
    padding: 20px;
}

#overlay{
  position: fixed;
  display: none;
  width:100%;
  height:100%;
  background-color: black;
  background-color:rgba(0,0,0,.75)
}

.bar {
    padding: 20px;
}

.signInButton {
    cursor: pointer;
}
