<form name="incription" method="POST" action="/register" class="popup" id="inscriptionPopUp">
    <div class="content">
      <h1 class="signIn">Inscription</h1> 
      <svg class="bar" xmlns="http://www.w3.org/2000/svg" width="80%" height="1" viewBox="0 0 433 1">
        <line id="Ligne_22" data-name="Ligne 22" x2="433" transform="translate(0 0.5)" fill="none" stroke="#707070" stroke-width="1" />
      </svg>
        <div class="input-field"><input name="pseudo" placeholder="Pseudo" class="validate"></div>
        <div class="input-field"><input name="email" placeholder="Mail" class="validate"></div>
        <div class="input-field"><input name="password" placeholder="Mot de passe" class="validate"></div>
        <button type="submit">
        <svg class="signInButton" xmlns="http://www.w3.org/2000/svg" width="64" height="64.641" viewBox="0 0 64 64.641">
          <path id="Tracé_23" data-name="Tracé 23" d="M35.894,37.55l-7.361,7.4a3.254,3.254,0,0,0,0,4.589,3.179,3.179,0,0,0,4.545,0l12.8-12.927a3.363,3.363,0,0,0,0-4.589L33.078,19.1a3.192,3.192,0,0,0-4.545,0,3.267,3.267,0,0,0,0,4.589l7.361,7.4H5.2a3.232,3.232,0,0,0,0,6.464ZM34.006,2A31.975,31.975,0,0,0,5.2,19.937,3.267,3.267,0,0,0,6.641,24.3a3.206,3.206,0,0,0,4.321-1.454A25.514,25.514,0,0,1,41.6,9.659a25.887,25.887,0,0,1-7.6,50.513A25.358,25.358,0,0,1,11.09,45.791a3.206,3.206,0,0,0-4.321-1.454A3.267,3.267,0,0,0,5.329,48.7,31.891,31.891,0,0,0,43.672,65.122,32.358,32.358,0,0,0,34.006,2Z" transform="translate(-2 -2)" fill="#5348c7"/>
        </svg>
        </button>
    </div>
</form>